#InputString{
    border: 2px solid black;
    border-radius:5px;
    padding-top: 6px;
    height: 250px;
    width: 250px;
    position: relative;
    left: 2px;
}
#HashedOutput{
    border-radius:5px;
    border: 2px solid black;
    height: 250px;
    width: 250px;
    padding-top: 6px;
    position: relative;
    left: 2px;
}
body{
    background-color: #f6f8fa;
}
#MD5_Button{
    background-color: #0d4b5f;
    color: white;
    position: relative;
    top:3px;
    left:10px;
    
   
}
#SHA-1_Button{
    background-color: #0d4b5f;
    color: white;
    position: relative;
    left:10px;
    top: 3px;
    
}
#SHA-256_Button{
    background-color: #0d4b5f;
    color: white;
    position: relative;
    left:10px;
    top: 3px;
    
}
#SHA-512_Button{
    background-color: #0d4b5f;
    color: white;
    position: relative;
    left:10px;
    top: 3px;
    
}
.header_section {
    border: 2px solid black;
    display: flex;
}
#HomeImg {
    height: 1.5cm;
    width: 1.5cm;
}
h1 {
    flex-grow: 1;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-right: 100px;

}

