#input_string{
    border: 2px solid black;
    border-radius:5px;
    padding-top: 6px;
    height: 250px;
    width: 250px;
    position: relative;
    left: 2px;
}
#hashed_output{
    border-radius:5px;
    border: 2px solid black;
    height: 250px;
    width: 250px;
    padding-top: 6px;
    position: relative;
    left: 2px;
}
body{
    background-color: #f6f8fa;
}
#MD5_button{
    background-color: #0d4b5f;
    color: white;
    position: relative;
    top:3px;
    left:10px;
    
   
}
#SHA-1_button{
    background-color: #0d4b5f;
    color: white;
    position: relative;
    left:10px;
    top: 3px;
    
}
#SHA-256_button{
    background-color: #0d4b5f;
    color: white;
    position: relative;
    left:10px;
    top: 3px;
    
}
#SHA-512_button{
    background-color: #0d4b5f;
    color: white;
    position: relative;
    left:10px;
    top: 3px;
    
}
