#InputEpoch{
    border: 2px solid black;
    border-radius:6px;
    padding-top: 6px;
    position: relative;
    left: 13px;
    
}
body{
    background-color: #f6f8fa;
}
#ConvertButton{
    position: relative;
    left: 68px;
    top:5px;
    background-color: #0d4b5f;
    color: white;
    font-size: 12px;
}
#OutputYear{
    border-radius:6px;
    border: 2px solid black;
    padding-top: 6px;
    position: relative;
    left: 21px;  
   
}
#OutputMonth{
    border-radius:6px;
    border: 2px solid black;
    padding-top: 6px;
    position: relative;  
    left:7px;
}
#OutputDay{
    border-radius:6px;
    border: 2px solid black;
    padding-top: 6px;
    position: relative;
    left:26px;
    
    
      
}
#OutputHours{
    border-radius:6px;
    border: 2px solid black;
    padding-top: 6px;
    position: relative;
    left:12px;
    
      
}
#OutputMinutes{
    border-radius:6px;
    border: 2px solid black;
    padding-top: 6px;
    position: relative;
    
   
      
}
#OutputSeconds{
    border-radius:6px;
    border: 2px solid black;
    padding-top: 6px;
    position: relative;
    
    
      
}
.header_section {
    border: 2px solid black;
    display: flex;
}
#HomeImg {
    height: 1.5cm;
    width: 1.5cm;
}
h1 {
    flex-grow: 1;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-right: 100px;

}

