#input_epoch{
    border: 2px solid black;
    border-radius:6px;
    padding-top: 6px;
    position: relative;
    left: 13px;
    
}
body{
    background-color: #f6f8fa;
}
#convert_button{
    position: relative;
    left: 68px;
    top:5px;
    background-color: #0d4b5f;
    color: white;
    font-size: 12px;
}
#output_year{
    border-radius:6px;
    border: 2px solid black;
    padding-top: 6px;
    position: relative;
    left: 21px;  
   
}
#output_month{
    border-radius:6px;
    border: 2px solid black;
    padding-top: 6px;
    position: relative;  
    left:7px;
}
#output_day{
    border-radius:6px;
    border: 2px solid black;
    padding-top: 6px;
    position: relative;
    left:26px;
    
    
      
}
#output_hours{
    border-radius:6px;
    border: 2px solid black;
    padding-top: 6px;
    position: relative;
    left:12px;
    
      
}
#output_minutes{
    border-radius:6px;
    border: 2px solid black;
    padding-top: 6px;
    position: relative;
    
   
      
}
#output_seconds{
    border-radius:6px;
    border: 2px solid black;
    padding-top: 6px;
    position: relative;
    
    
      
}
