.Container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
body{
    background-color: #f6f8fa;
}
.Base2_10,.Base8_16
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px 20px;
}
.header_section {
    border: 2px solid black;
    display: flex;
}
#HomeImg {
    height: 1.5cm;
    width: 1.5cm;
}
h1 {
    flex-grow: 1;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-right: 100px;

}